DATA_ROOT=/data
UPLOAD_FOLDER=/data/uploads
ARTIFACT_FOLDER=/data/generated_artifacts
QVD_OUTPUT_FOLDER=/data/qvd_outputs
MIGRATION_PACKAGE_FOLDER=/data/migration_packages
LOG_FOLDER=/data/logs
DATABRICKS_HOST=
DATABRICKS_TOKEN=
DATABRICKS_HTTP_PATH=
DATABRICKS_CATALOG=workspace
DATABRICKS_SCHEMA=default
